<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @latest_news.content %>
</p>

<%= link_to 'Edit', edit_latest_news_path(@latest_news) %> |
<%= link_to 'Back', latest_news_index_path %>
