<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @left_sidebar.content %>
</p>

<%= link_to 'Edit', edit_left_sidebar_path(@left_sidebar) %> |
<%= link_to 'Back', left_sidebars_path %>
